FLASK_ENV=development
SECRET_KEY=cambia_esto_en_produccion
JWT_SECRET_KEY=cambia_esto_tambien

DB_USER=root
DB_PASSWORD=tu_password_aqui
DB_HOST=localhost
DB_PORT=3306
DB_NAME=AWGPMCESE

LOGIN_MAX_INTENTOS=5
LOGIN_BLOQUEO_MINUTOS=15
